.pokemonCardCont {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  width: 15em;
  height: 20em;
  color: white;
  position: relative;
  perspective: 800px;
}

.pokemonCardCont img {
  margin: 0;
  width: 80%;
  margin-top: 1em;
}

.pokemonCardCont:hover {
  cursor: pointer;
  border-color: rgba(0, 0, 255, 0.545);
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-color: #0a0a0a2b;
  border-radius: 5%;
  transform: rotateY(180deg);
  font-size: 18px;
  border: solid white 0.01rem;
}

.front p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.back {
  background-image: url('/pokecardBack.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  /* transition: transform 0.85s; */
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  border-radius: 15%;
}

.card {
  transition: 0.85s;
}

.pokemonCardCont.showFront .card {
  transform: rotateY(180deg);
}
