.gameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffcb05;
}

.gameBoardHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  width: 80vw;
  height: 200px;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  margin-bottom: 0;
  padding-bottom: 0;
}

.gameTitle {
  flex: 0 1 auto;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.scoreBoard {
  flex: 0 1 auto;
  height: 100px;
  margin-left: auto;
}

.gameBoardHeader h1 {
  font-size: 3em;
}

.gameBoardHeader h2 {
  font-size: 1em;
}
